h1 {
    color: red;
}
p {
    color: blue;
    font-size: 20px;
    font-family: cursive;

}
.caja {
    color: aqua;
    width: 400px;
    padding: 80px 400px 80px 80px;
    border-radius: 10px;
}
.caja img {
    width: 50%;
    height: auto;
    border-radius: 50px;
}
.imagen-gible:hover {
    transform: scale(1.15);
    transition: transform 0.3s ease;
    opacity: 0.9;
}
.gible-veloz {
  position: relative;
  animation: correrVelocidad 2.5s linear infinite;
  filter: drop-shadow(0 0 5px #00f); /* leve brillo azul */
}

@keyframes correrVelocidad {
  0% {
    left: 0;
    box-shadow: -20px 0 30px rgba(0, 0, 255, 0.5); /* estela atrás */
  }

  60% {
    left: 225px;
    top: -30px; /* ¡salto! */
    box-shadow: -30px 0 40px rgba(0, 0, 255, 0.4);
  }

  60.001% {
    left: 225px;
    top: 0; /* cae */
    box-shadow: -25px 0 35px rgba(0, 0, 255, 0.4);
  }

  100% {
    left: 900px;
    top: 0;
    box-shadow: -20px 0 30px rgba(0, 0, 255, 0.5);
  }
}
